body{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(126, 4, 126);
    background-color: rgba(253, 239, 252, 0.795);
    
    text-shadow: 30px; ;
}

li{
    list-style-type: circle;
}
.p1{
    text-decoration: underline;
}



  












